.container {
	max-width: 1200px;
	margin: 0 auto;
}

.video-list-container {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 16px;
	margin-top: 24px;

	.video-list-header {
		padding: 10px 0.5rem;
	}

	@media screen and (max-width: 768px) {
		border-radius: 0;
		padding: 10px;

		.video-list-header {
			padding: 10px 0.5rem;
			font-size: 16px;
		}
	}
}

.play-container {
	background-color: #fff;
	border-radius: 10px;
	padding: 16px;
	margin-top: 28px;

	.row {
		.col-1 {
			padding-left: 0;
			padding-right: 20px;

			.video-player {
				width: 100%;
				border-radius: 6px;
			}

			.tags {
				color: blue;
				font-size: 13px;
				margin-top: 10px;
				display: flex;

				.tag {
					margin-right: 8px;
				}
			}

			.video-info {
				margin-top: 10px;
				.title {
					font-size: 18px;
					font-weight: 500;
					line-height: 1.1;
				}

				.views,
				.up-date {
					margin-top: 10px;
					font-size: 12px;
					color: rgba(0, 0, 0, 0.4);
					font-weight: 500;
				}

				.likes {
					margin-top: 10px;
					font-size: 14px;
					color: rgba(0, 0, 0, 0.6);
					font-weight: 500;
				}

				.views {
					margin-right: 6px;
				}
			}

			.author-info {
				margin-top: 10px;
				display: flex;
				align-items: center;
				.info {
					.author-name {
						font-size: 13px;
						font-weight: 500;
						line-height: 1.1;
					}

					.followers {
						color: rgba(0, 0, 0, 0.4);
						font-size: 12px;
						margin-top: 4px;
					}

					.follow-btn {
						border: none;
						padding-left: 0;
					}
				}
			}

			.social {
				margin: 20px 0;
				padding: 4px 20px;
				cursor: pointer;
				.icon {
					margin-right: 4px;

					&.liked {
						color: blue;
					}
				}
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			}

			.video-description {
				font-size: 12px;
				margin-top: 16px;
			}
		}

		@media screen and (max-width: 1200px) {
			.col-1 {
				padding-right: 0px;
				.video-info {
					margin-top: 10px;
					.title {
						font-size: 16px;
						font-weight: 500;
						line-height: 1.1;
					}

					.views,
					.up-date {
						margin-top: 10px;
						font-size: 12px;
						color: rgba(0, 0, 0, 0.4);
						font-weight: 500;
					}

					.views {
						margin-right: 6px;
					}
				}
			}

			.col-2 {
				margin-top: 20px;
			}
		}
	}

	@media screen and (max-width: 480px) {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;

		.row {
			.col-1 {
				.tags {
					padding: 0 16px;
				}
				.info-container {
					padding: 0 16px;
				}

				.video-description {
					padding: 0 16px;
				}
			}
			.col-2 {
				padding: 0 16px;
			}
		}
	}
}

.history {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 16px;
	margin-top: 28px;

	.history-list-header {
		padding: 10px 0.5rem;
	}

	@media screen and (max-width: 768px) {
		border-radius: 0;
		padding: 10px;

		.history-list-header {
			padding: 10px 0.5rem;
			font-size: 16px;
		}
	}
}

.history-list-container {
	// background-color: #f5f5f5;

	.history-list-header {
		padding: 10px 0.5rem;
		font-size: 16px;
		font-weight: 500;
	}

	@media screen and (max-width: 768px) {
		border-radius: 0;

		.history-list-header {
			padding: 10px 0.5rem;
			font-size: 15px;
		}
	}
}

// upload
.upload {
	background-color: #fff;
	border-radius: 10px;
	padding: 16px;
	margin-top: 28px;

	@media screen and (max-width: 768px) {
		border-radius: 0;
		padding: 10px;
	}
}

.story-container {
	overflow: hidden;
	display: none;
	margin: 10px 0;

	.stories-wrapper {
		display: flex;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	@media screen and (max-width: 480px) {
		display: block;
	}
}
