.create-form {
	padding-bottom: 60px;
	.required-dot {
		font-size: 13px;
		margin-bottom: 4px;
		color: red;
	}

	.upload-box {
		height: 280px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		.upload-text {
			font-size: 16px;
			margin-top: 10px;
			text-align: center;
		}
	}

	.thumb-upload {
		padding: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.col-1 {
			padding: 1rem;

			.wrapper {
				width: 200px;
				height: 200px;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
				text-align: center;
				border-radius: 6px;
				cursor: pointer;
				padding: 10px 0;
				.icon-wrapper {
					height: 60px;
					width: 60px;
					border-radius: 50%;
					background: #f8f8f8;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 auto;
				}

				h1 {
					font-size: 1rem;
					font-weight: 500;
					font-size: 12px;
				}
			}
		}

		.col-2 {
			padding: 1rem;

			.wrapper {
				width: 200px;
				height: 200px;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
				text-align: center;
				border-radius: 6px;
				cursor: pointer;
				padding: 10px 0;

				input[type="file"] {
					display: none;
				}

				.rs-uploader-trigger-btn {
					background: transparent;
				}

				.icon-wrapper {
					height: 60px;
					width: 60px;
					border-radius: 50%;
					background: #f8f8f8;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 auto;
				}

				h1 {
					font-size: 1rem;
					font-weight: 500;
					font-size: 12px;
				}
			}
		}
	}
	.radio-control {
		.rs-radio-group-picker {
			margin-top: 10px;
			border: none;
		}

		.rs-radio {
			display: none;
			&.rs-radio-checked {
				border: 1px solid rgba(0, 0, 0, 0.3);
			}
		}
	}

	.upload-btn {
		float: right;
	}
}
