.player-container {
	z-index: 2147483647;
	width: 100%;
	position: relative;
	background: #000;
	border-radius: 8px;
	overflow: hidden;

	.thumbnail-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 10;

		&.hidden {
			display: none;
		}

		.thumbnail {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		.play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparent;
		transition: all 0.2s;

		&.paushed {
			background: linear-gradient(to top, #333 -20%, transparent 57%);
		}
	}

	&:hover {
		.gradient {
			&.show {
				background: linear-gradient(to top, #333 -20%, transparent 57%);
			}
		}

		.video-controls.show {
			opacity: 1;
			z-index: 1;
		}
	}

	&.fullscreen {
		position: fixed;
		min-height: 100vh;
		min-width: 100vw;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border-radius: 0;
	}

	video {
		width: 100%;
		margin: auto 0;

		&.fullscreen {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}

	.video-controls {
		z-index: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 10px 12px;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&.paushed {
			opacity: 1;
		}

		.duration-slider {
			margin-bottom: 12px;
		}

		.c-left {
			display: flex;
			align-items: center;

			.play-icon {
				margin-right: 10px;
				color: white;
			}

			.volume-wrapper {
				display: flex;
				align-items: center;
				margin-right: 10px;

				.volume-slider {
					width: 0;
					transition: all 0.2s;

					.rs-slider-handle {
						display: none;
					}
				}

				&:hover {
					.volume-slider {
						width: 80px;
						.rs-slider-handle {
							display: block;
						}
					}
				}

				@media screen and (max-width: 480px) {
					.volume-slider {
						display: none;
					}
				}
			}

			.sound-icon-wrap {
				position: relative;
				.sound-icon {
					margin-right: 14px;
					color: white;
				}

				.mute-slash {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-130%, -55%) rotate(-45deg);
					color: #fff;
					user-select: none;
				}
			}

			.timestamp {
				color: #fff;
				font-size: 12px;
			}
		}

		.c-right {
			display: flex;
			align-items: center;

			.cog-icon {
				margin-right: 10px;
				color: white;
			}

			.expand-icon {
				color: white;
			}
		}
	}

	@media screen and (max-width: 480px) {
		border-radius: 0;
	}
}

.quality-tooltip {
	font-size: 12px;
	position: relative;

	.radio-group {
		position: absolute;
		right: 0;
		bottom: 120%;
	}

	.rs-tooltip-arrow {
		display: none;
	}
	.rs-tooltip-inner {
		background-color: #fff;
		padding: 0;
	}

	.rs-radio-group {
		border: none;

		.rs-radio-checker {
			label {
				font-size: 10px;
			}
		}
	}
}

.video-preview {
	position: relative;
	margin: 20px 0;
	max-width: 500px;
	border-radius: 6px;
	overflow: hidden;

	video {
		width: 100%;
	}

	.thumbnail-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		.thumbnail {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
